
@model ExchangeService.Handler.Currency


@if (Model.buying.Length > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Покупка</th>
                <th scope="col">Продаж</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">@Model.buying</td>
                <td scope="row">@Model.selling</td>
            </tr>
        </tbody>
    </table>
}

