@model IList<ExchangeService.Handler.Currency>


    @foreach (var a in Model)
    {<h2>@a.bankName</h2>
        <table class="table">
        <thead>
            <tr>
                <th scope="col">Покупка</th>
                <th scope="col">Продаж</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">@a.buying</td>
                <td scope="row">@a.selling</td>
            </tr>
        </tbody>
    </table>
    }
    

